Transferencias de Etiquetas/Web References/WS_Friolala/ServicioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultarEtiquetas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NumerosDeEtiquetas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarEtiquetasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarEtiquetasResult" type="tns:ArrayOfEtiquetasGrid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEtiquetasGrid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EtiquetasGrid" nillable="true" type="tns:EtiquetasGrid" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EtiquetasGrid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDeEtiqueta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoEtiqueta" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdProveedor" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdLote" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPedido" nillable="true" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClaveNombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaDeEmpaque" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaDeCaducidad" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Unidad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Piezas" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaDeRecepcion" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarEtiquetasSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarEtiquetas" />
  </wsdl:message>
  <wsdl:message name="ConsultarEtiquetasSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarEtiquetasResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebSoap">
    <wsdl:operation name="ConsultarEtiquetas">
      <wsdl:input message="tns:ConsultarEtiquetasSoapIn" />
      <wsdl:output message="tns:ConsultarEtiquetasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebSoap" type="tns:ServicioWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarEtiquetas">
      <soap:operation soapAction="http://tempuri.org/ConsultarEtiquetas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebSoap12" type="tns:ServicioWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarEtiquetas">
      <soap12:operation soapAction="http://tempuri.org/ConsultarEtiquetas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWeb">
    <wsdl:port name="ServicioWebSoap" binding="tns:ServicioWebSoap">
      <soap:address location="http://friolalamatriz.redesdurango.com:84/SegConFriolala/ServicioWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebSoap12" binding="tns:ServicioWebSoap12">
      <soap12:address location="http://friolalamatriz.redesdurango.com:84/SegConFriolala/ServicioWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>